@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/subset-MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/subset-MyriadPro-Bold.woff') format('woff'),
        url('../fonts/subset-MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/subset-Poppins-Regular.woff2') format('woff2'),
        url('../fonts/subset-Poppins-Regular.woff') format('woff'),
        url('../fonts/subset-Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/subset-OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/subset-OpenSans-Regular.woff') format('woff'),
        url('../fonts/subset-OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/subset-MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/subset-MyriadPro-Regular.woff') format('woff'),
        url('../fonts/subset-MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

